main {
    padding: 20px;
    height: auto;
}

main h1 {
    text-align: center;
}

.alta-form {
    background-color: #2F4F4F;
    opacity: 0.8;
    width: 60%;
    margin: 20px auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
}

.input-group {
    text-align: center;
    padding: 3px;
}

main label {
    color:white;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    margin-top: 16px;
}

main label[for="envio-sin-cargo"] {
    display: inline-block;
    margin: 10px 0;
}


#agregar {
    display: block;
    margin: 15px auto;
    height: 40px;
    width: 40%;
    background-color: #2F4F4F;
    border-radius: 5px;
    font-size: 100%;
    color: white;
}

#agregar:hover {
    background-color: white;
    color: #2F4F4F;
    cursor: pointer;
}

main input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
}

main input:focus {
   
    outline: 2px solid #2F4F4F;
    
-webkit-box-shadow:0px 0px 26px 0px rgba(252,252,252,1);
-moz-box-shadow: 0px 0px 26px 0px rgba(252,252,252,1);
box-shadow: 0px 0px 26px 0px rgba(252,252,252,1);

}

textarea{
    width: 70%;
    border-radius: 5px;
}

textarea:focus{
    outline: 2px solid #2F4F4F;
-webkit-box-shadow:0px 0px 26px 0px rgba(252,252,252,1);
-moz-box-shadow: 0px 0px 26px 0px rgba(252,252,252,1);
box-shadow: 0px 0px 26px 0px rgba(252,252,252,1);

}

main input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.invalid {
    background-color: rgba(239, 147, 143, 0.877);
  }

form input[type="text"]:required:valid, form input[type="number"]:required:valid{
    border:2px solid green;
   }


form input[type="text"]:focus:required:invalid, form input[type="number"]:focus:required:invalid{
    border:2px solid red;
   }

/*
table {
    border-collapse: collapse;
    margin: 5px auto;
}

th,td {
    border: 1px solid black;
    width: 80px;
    height: 30px;
    padding: 10px;
}

th {
    text-transform: uppercase;
    color: white;
    background-color: #111;
}
*/
main h2 {
    text-align: center;
}

footer .footer-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
    font-size: 22px;
}

h4{
    margin: 10px;
}

h6{
    margin: 20px 0 0 0;
}

i{
    margin: 0 5px;
}

footer section{
    margin: 16px;
}

footer section p{
    font-size: 16px;
    margin-bottom: 8px;
}

footer section a{
    text-decoration: none;
    color: white;
}

footer section i{
    cursor: pointer;
}

footer section button{
    margin: 1px solid white;
    color:white;
    background-color: transparent;
    font-weight: bold;
  padding: 0.75rem 1.75rem;
  margin-top: 1rem;
  border-radius: 5px;
}

footer section button:hover{
    color:#2F4F4F;
    background-color: white;
    cursor: pointer;
}

